force-app/main/default/flows/MCS_Asset_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Add Asset Attributes from Product Specs</description>
    <environments>Default</environments>
    <interviewLabel>MCS - Asset - After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MCS - Asset - After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Skill</name>
        <label>Get Product Skill</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Prod_Skill_to_Machine_Skill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MCS_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MCS_Product_Skills__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Skill</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Transform_Prod_Skill_to_Machine_Skill</name>
        <label>Transform Prod Skill to Machine Skill</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>MCS_Machine_Skill__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>MCS_Skill_Id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Product_Skill[$EachItem].MCS_Skill_Id__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>MCS_Skill__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Product_Skill[$EachItem].MCS_Skill__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>MCS_Mcahine__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
